@media screen and (min-width: 769px) and (max-width: 1200px) {

    #menu {
        font-size: var(--font-size-third);
        gap: 0;
        padding-left: 0;
    }
    .name,
    .first-word{
       font-size: var(--font-size-third);
    }
    .slides-content {
        grid-template-columns: repeat(2, 48%);
    }   
    section.section-home .sections-flex{
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 1rem;
        flex-direction: column-reverse;
    } 
    .section-home .text-content-top .actions {
        gap: .5rem;
    }
    
    .slide-box {
        width: 100%;
    }
    #nav li a {
        font-size: var(--font-size-third);
        padding: 0 8px;
    }


    .slide-box .button-manual {
        display: none;
    }
    
    .slide-box .nav-manual,
    .slide-box .nav-auto{
        display: none;
    }
    .slide-box .details p{
        font-size: .8rem;
    }

    .btn-custom {
        font-size: .7rem;
    }

    .slide-box .description-Projects .contro-container-description {
        padding: 5px;
    }
    
    .slide-box .details {
        gap: 0;
    }
    .slide-box .details .usedLanguage img {
        width: 15px;
    }
    .section-home h1 {
        font-size: 2rem;
    }
    .section-home p {
        font-size: 1.5rem;
    }
    
    footer .sections-flex {
        flex-direction: column;
    }
    footer .container .sections-flex {
        flex-direction: row;
    }
    
    .section-about .container .sections-flex .title-about {
        padding: 0;
    }
    .section-about .container .sections-flex .about-description { 
        max-width: 300px;
    }
  


}

@media only screen and (max-width: 768px) {
    #menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        padding: 0;
        right: -70vw;
        height: 100vh;
        top: 2.7rem;
        width: 45vw;
        z-index: 100;
        visibility: visible;
        overflow-y: auto;
        backdrop-filter: blur(3px);
        transition: right .5s ease;
    }

    #nav.active #menu {
        right: -70px;
        width: 70vw;
    }
    #btn-mobile {
        display: flex;
        gap: .5rem;
        border: none;
        font-size: 1rem;
        transform: scale(1.2);
        background:  #ca4c03c7;
        padding: 6px;
        border-radius: 20%;
        cursor: pointer;
    }

    #hamburguer {
        width: 20px;
        border-top: 3px solid;
        color: #ffffff;
    }

    #hamburguer::after,
    #hamburguer::before {
        content: "";
        display: block;
        position: relative;
        width: 20px;
        height: 3px;
        margin-top: 5px;
        background: currentColor;
        transition: all .5s ease-in-out;
    } 

    #nav.active #hamburguer {
        border-top: none;
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -8px;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav li a {
        color: var(--color-default);
    }
    #nav li a::after {
        background-color: var(--main-font-color);
    }

    .sections-flex {
        flex-direction:  column-reverse;
        gap: 2rem;
    }
    .slides-content {
        grid-template-columns: repeat(1, 100%);
    }  
    .btn-custom {
        font-size: .7rem;
    }

    .slide-box .description-Projects .contro-container-description {
        padding: 5px;
    }

    .slide-box .details p{
        font-size: .8rem;
    }
    
    .slide-box .details {
        gap: 0;
    }
    .slide-box .details .usedLanguage img {
        width: 15px;
    }
    

    .name,
    .first-word {
        font-size: 1.5rem;
        -webkit-text-stroke: 0.1rem #ca4c03c7
    }
    .section-home h1 {
        font-size: 2rem;
    }
    .section-home p {
        font-size: 1.2rem;
    }
    .section-home .img-content-top {
        max-width: 300px;
    }

    .container-bg {
        backdrop-filter:none;
    }

    footer .sections-flex {
        flex-direction: column;
    }
    footer .container .sections-flex {
        flex-direction: row;
    }
  
    .section-soft-skills .container .sections-flex,
    .section-about .container .sections-flex{
        flex-direction: column;
        align-items: center;
    }

    .section-home .text-content-top .actions {
       flex-direction: column;
    }
    
}